* {
	margin: 0;
	padding: 0;
}

.m-header {
	display: flex;
	height: 82px;
	position: fixed;
	/* background-color: pink; */
	top: 0;
	left: 0;
	right: 0;
	transition: all .5s;
	z-index: 999;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	background-color: #fff;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.m-header-main {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.max-width-content {
	align-items: center;
	height: 100%;
	width: 95%;
	max-width: 1080px;
	margin: 0 auto;
	/* background-color: #7FFFD4; */
}

.m-header-logo {
	margin-right: 50px;
	width: 102px;
	height: auto;
}

.m-header-logo img {
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.m-header-menu .menu-item {
	margin-right: 36px;
}

.m-header-menu .menu-link {
	color: #34364e;
	letter-spacing: 1px;
}

a:hover {
	padding-bottom: 8px;
	border-bottom: 3px solid #225560;
	color: #225560;
}
.menu-list-wrap {
    overflow-y: auto!important;
    height: 100%;
}


.m-header-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	justify-content: flex-start;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #34364e;
}

ul {
	list-style: none;
}

.m-header-menu .menu-item {
	width: 64px;
	margin-right: 5%;
	line-height: 70px;
	height: 70px;
	cursor: pointer;
	margin-top: 13px;
	font-size: 16px;
	flex-shrink: 0;
	font-weight: 500;
}
.m-header-menu .menu-item {
	margin-right: 36px;
}
.m-header-menu-list {
	display: flex;
}

.m-header .submenu-ul {
	cursor: default;
	position: absolute;
	left: 0;
	right: 0;
	height: 0;
	top: 70px;
	transition: all .6s;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-ms-flex-align: center;
	justify-content: center;
	width: 100%;
	align-content: center;
	background-color: #225560;
}

.submenu-item a {
	text-decoration: none;
	color: #fff;
}

.m-header .submenu-ul .submenu-item {
	padding-left: 130px;
	line-height: 27px;
	margin-bottom: 30px;
	font-size: 24px;
	font-family: Noto Sans SC, SourceHanSansCn-Normal;
	font-weight: 400;
	font-style: normal;
}

.J-menu-panel:hover .submenu-ul {
	overflow: visible;
	height: 470px;
}

.m-header-search {
	height: 82px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.m-header-search .iconfont {
	color: #202030;
	font-weight: 700;
	font-size: 20px;
}

.micon-search:before {
	font-family: 'icomoon';
	content: "\e986";
}

.country-select-btn-pc {
	margin-left: 18px;
	min-width: 30px;
	height: 100%;
	cursor: pointer;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.country-select-btn-pc:after {
	content: "";
	display: inline-block;
	margin-left: 18px;
	width: 6px;
	height: 6px;
	border-color: #333;
	border-style: solid;
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
}

.swiper-container {
	width: 100%;
	height: 100%;
}

video {
	width: 100%;
	height: 100%;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.h-banner {
	margin: 0;
	/* position: relative; */
	width: 100%;
	/* overflow: hidden; */
	background-size: contain;
}

.h-banner-item {
	position: relative;
}

.banner-img {
	position: relative;
	width: 100%;
}

.bar {
	position: absolute;
	right: 5%;
	bottom: 32%;
	width: 40%;
}

.u-title {
	font-family: Noto Sans SC, SourceHanSansCn-Medium;
	font-weight: 500;
	font-style: normal;
	padding: 0 60px;
	letter-spacing: 5px;
	line-height: 1.5;
	display: inline-block;
	line-height: 2;
	margin: 60px 0;
	color: #fff;
	background-color: #34364e;
	/* font-family: neue-haas-grotesk-display,sans-serif; */
	text-indent: 1.5px;
	letter-spacing: 1.5px;
	font-size: 32px;
	/* -webkit-font-variant-ligatures: none; */
	font-variant-ligatures: none;
}

@media screen and (min-width: 768px) {
	.m-data-icon-wrapper {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: start;
		justify-content: start;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		/* justify-content: center; */
	}
}

.m-data-icon-main,
.m-data-icon-main-up {
	font-style: normal;
	letter-spacing: 1px;
	font-weight: 700;
}

.m-data-icon-sub {
	white-space: normal;
	letter-spacing: 0;
	line-height: 30px;
	font-size: 18px;
}

.m-data-icon-main-up {
	font-size: 24px;
	font-family: Noto Sans SC, SourceHanSansCn-Heavy;
	font-weight: 800;
	vertical-align: baseline;
}

/* .m-data-icon-item:nth-child(-n+4) {
    margin-top: 0;
} */
.m-data-icon-item {
	width: 24%;
	color: #34364e;
}

.m-data-icon {
	overflow: hidden;
}

.m-data-icon-main {
	font-family: neue-haas-grotesk-display;
	font-size: 56px;
}

.max-width-content {
	margin: 0 auto;
}

@media screen and (min-width: 768px) .max-width-content {
	width: 95%;
	max-width: 1080px;
}

.m-stock-price .title-link {
	float: right;
	margin-top: 80px;
	color: #34364e;
	letter-spacing: 1px;
	cursor: pointer;
	letter-spacing: 0;
	line-height: 30px;
	font-size: 18px;
	font-family: Noto Sans SC, SourceHanSansCn-Bold;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
}

.m-stock-price .title-link:hover {
	color: #225560;
	border-bottom: 0;
}

@media screen and (min-width: 768px) {
	.m-business .bus-box {
		overflow: hidden;
		position: relative;
		width: 100%;
		margin-bottom: -70px;
	}

}

@media screen and (min-width: 768px) {
	.m-business-items .business-item {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
}

.m-business-items .business-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 70px auto 190px;
}

@media screen and (min-width: 768px) {
	.m-business-items .business-item:nth-child(odd) .img-box {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		margin-right: -50px;
	}
}

@media screen and (min-width: 768px) {
	.m-business-items .img-box {
		width: 50%;
		position: relative;
		z-index: 100;
	}
}

.m-business-items .bus-img {
	width: 100%;
}

@media screen and (min-width: 768px) {

	.m-business-items .business-item:nth-child(2n) .img-box,
	.m-business-items .business-item:nth-child(odd) .txt-box {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}

	.m-business-items .business-item:nth-child(2n) .txt-box {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		margin-right: -50px;
	}
}

@media screen and (min-width: 768px) {
	.m-business-items .txt-box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 55%;
		background-color: #efefef;
		padding: 70px 0;
	}
}

@media screen and (min-width: 768px) {
	.m-business-items .bus-img {
		width: 100%;
		min-height: 154px;
	}
}

.m-business-items .txt-box {
	/* display: -webkit-box; */
	/* display: -ms-flexbox; */
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 50%;
	background-color: #efefef;
	margin: -60px 0;
	color: #34354f;
	-webkit-transition: all .5s;
	transition: all .5s;
	border-bottom: 0;
}

.m-business-items .txt-box:hover {
	background-color: #225560;
	color: #fff;
}

.m-business-items .txt-box-main {
	width: 55%;
}

.m-business-items .bus-link-name,
.m-business-items .bus-name {
	font-family: Noto Sans SC, SourceHanSansCn-Bold;
	font-weight: 700;
	font-style: normal;
}

.m-business-items .bus-link-name {
	font-size: 18px;
	letter-spacing: 0;
	line-height: 1;
}

.m-business-items .bus-name {
	font-size: 36px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	line-height: 54px;
}

.m-business-items .bus-desc {
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0;
	font-family: Noto Sans SC, SourceHanSansCn-Normal;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 10px;
}

.m-footer {
	padding: 40px 0 18px;
	background-color: #efefef;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 60px 0 30px;
	margin-top: 120px;
}

.m-footer-box {
	margin: 0 auto;
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.m-footer,
.m-footer-box {
	margin: 0 auto;
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
}

.m-footer-icons,
.m-footer-icons .icons-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.m-footer-icons {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 10%;
	flex: 0 0 10%;
	margin-right: 7%;
	position: relative;
	top: 22px;
	white-space: nowrap;
}

.m-footer-icons li {
	font-family: Noto Sans SC, SourceHanSansCn-Normal;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 8px;
}

.m-footer-icons .icons-link {
	color: #34354f;
	font-size: 16px;
	line-height: 24px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.m-footer-links {
	flex-wrap: wrap;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83%;
	flex: 0 0 83%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
}

.m-footer-links .link-box {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.m-footer-links .link-box .title {
	margin-bottom: 10px;
	font-family: Noto Sans SC, SourceHanSansCn-Bold;
	font-size: 16px;
	letter-spacing: .8px;
	font-weight: 700;
	font-style: normal;
}

.m-footer-links .link-box .link-item li {
	margin-bottom: 10px;
}

.m-footer-box a {
	text-decoration: none;
	color: #34354f;
	border-bottom: 0 !important;
}

.m-footer-links .link-box a:hover {
	color: #225560;
}

.m-copyright {
	background-color: #34354f;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	font-family: Helvetica-Neue-Regular;
}

.m-copyright-box a {
	color: #fff;
	text-decoration: none;
}

.m-copyright,
.m-copyright-box {
	color: #fff;
	letter-spacing: 1px;
	line-height: 18px;
	font-family: Noto Sans SC, SourceHanSansCn-Normal;
	font-weight: 400;
	font-style: normal;
}

.m-copyright-box {
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	height: 46px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 30px;
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 500;
	letter-spacing: .75px;
	width: 100%;
}

.m-copyright,
.m-copyright-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.m-copyright-box-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.m-copyright-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.m-copyright-link li {
	padding: 0 35px;
	position: relative;
}
